<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.text_field :group %>
  </div>
  <div class="field">
    <b>Invitation Sent</b><br>
    <%= f.check_box :invited %>
  </div>
  <div class="field">
    <b>Attending</b><br>
    <%= f.radio_button :going, '0' %> Unknown<br>
    <%= f.radio_button :going, '1' %> No<br>
    <%= f.radio_button :going, '2' %> Yes<br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
