<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-people">
  <div class="container">
    <h1>People</h1>
    <p>Filler text  donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>


  <table id="datatable" class="compact hover order-column">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Group</th>
        <th class="col-md-1">Invitation Sent</th>
        <th class="col-md-1"s>Attending</th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.group %></td>
          <td><%= person.invited ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span><sortvalue>1</sortvalue>'.html_safe : '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span><sortvalue>0</sortvalue>'.html_safe %></td>
          <td><%= isGoing(person.going) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add Person', new_person_path %>

<br>

