<div class="container" style="max-width: 300px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @person.group %>
</p>

<p>
  <strong>Invited:</strong>
  <%= @person.invited %>
</p>

<p>
  <strong>Going:</strong>
  <%= @person.going %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
</div>